name: macOS tmate Session

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Start tmate session
        uses: mxschmitt/action-tmate@v2
